nav{
    background-color: #FEF4F2;
}
.title {
    background-color: #FEF4F2;
}
div.card {
    background-color: #FEF4F2
}
.tricks {
    background-color: #FEF4F2
}
.footer {
    background-color: #4A4A4A;
    color: white;
}
div.landing-lady{
    max-width: 50vw;
}
.rotate1{
    display: inline-block;
    transform: rotate(90deg);
}
.rotate2{
    display: inline-block;
    transform: rotate(180deg);
}